VUE_APP_TITLE='App Title'
VUE_APP_DEFAULT_CONFIGS='{ "name": "USSD Simulator", "active_environment": "sandbox", "msisdn": "+254720000000", "live": { "endpoint": "https://endpoint.io/api/v1", "codes": ["*000#", "*111"] }, "sandbox": { "endpoint": "https://sandbox.endpoint.io/api/v1", "codes": ["*000#", "*111"] } }'